@mixin font-face($font-name, $file-basename, $font-weight) {
  $filePath: '/fonts/' + $font-name + '/' + $file-basename;
  @font-face {
    font-family: $font-name;
    font-style: normal;
    font-weight: $font-weight;
    font-display: swap;
    src: #{url($filePath + '.woff2') format('woff2')}, #{url($filePath + '.woff') format('woff')};
  }
}