.App {
  padding: 20px;
  width: 50%;
  margin: auto;
}

.App input {
  margin-bottom: 10px;;
}

.error {
  background:pink;
  margin-bottom: 20px;
  padding: 10px;
}

.green {
  background: lime;
  padding: 5px;
}