@import 'src/styles/variables.scss';

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 1.4rem;
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: auto;
  max-width: $max-width;
  padding: 0 $gap;
}